<div class = "bar-box">
  <h2>{{name}}</h2>
  <p><em>Rating:</em> {{rating}}   <em>Price:</em> {{price}}</p>
  <p>{{street}} - {{cross_street}}</p>
  <p>{{city}}, {{state}}</p>
  <button id='uber-estimate'>Uber Estimate</button><br>
  <img src = "https://irs2.4sqi.net/img/general/300x300{{image}}">
  <input type="hidden" id="start-lat" value= {{start_lat}}>
  <input type="hidden" id="start-lng" value= {{start_lng}}>
  <input type="hidden" id="end-lat" value= {{end_lat}}>
  <input type="hidden" id="end-lng" value= {{end_lng}}>
</div>



